<br>
<%= render @restaurant %>
  <p class="back-option">
    <%= link_to 'Back to restaurants', root_path, class: 'btn btn-primary', style: 'transition: background-color 0.3s ease' %>
  </p>
  <p class="write-review">
    <%= link_to 'Write a review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary', style: 'transition: background-color 0.3s ease' %>
  </p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-6 text-start">
          <%= "⭐️" * review.rating %>
        </div>
        <p>
          <div class="col-6 text-start">
            <%= review.content %>
          </div>
        </p>
      </div>
    </li>
  <% end %>
</ul>
